<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907958190887-n0b871uidmkrcfv2eg1e8i6ojvekdjdt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907958190887-n0b871uidmkrcfv2eg1e8i6ojvekdjdt</string>
	<key>API_KEY</key>
	<string>AIzaSyByGmLqXdLF6Qc7b4hqMSNcjdK8hX8uYdE</string>
	<key>GCM_SENDER_ID</key>
	<string>907958190887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.canWeChat</string>
	<key>PROJECT_ID</key>
	<string>can-we-chat-29cc2</string>
	<key>STORAGE_BUCKET</key>
	<string>can-we-chat-29cc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907958190887:ios:366ef070491705b8e59f02</string>
</dict>
</plist>